In [ ]:


#csv_url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data'


import pandas as pd
iris = pd.read_csv("iris.data")
col_names = ['Sepal_Length','Sepal_Width','Petal_Length','Petal_Width','Species']
iris = pd.read_csv("iris.data", names = col_names)

In [ ]:
iris

     Sepal_Length  Sepal_Width  Petal_Length  Petal_Width         Species
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

[150 rows x 5 columns]

In [ ]:
iris.shape

(150, 5)

In [ ]:
iris.dtypes

Sepal_Length    float64
Sepal_Width     float64
Petal_Length    float64
Petal_Width     float64
Species          object
dtype: object

In [ ]:
iris.sort_values(by="Sepal_Length", ascending=False)

     Sepal_Length  Sepal_Width  Petal_Length  Petal_Width         Species
131           7.9          3.8           6.4          2.0  Iris-virginica
135           7.7          3.0           6.1          2.3  Iris-virginica
122           7.7          2.8           6.7          2.0  Iris-virginica
117           7.7          3.8           6.7          2.2  Iris-virginica
118           7.7          2.6           6.9          2.3  Iris-virginica
..            ...          ...           ...          ...             ...
41            4.5          2.3           1.3          0.3     Iris-setosa
42            4.4          3.2           1.3          0.2     Iris-setosa
38            4.4          3.0           1.3          0.2     Iris-setosa
8             4.4          2.9           1.4          0.2     Iris-setosa
13            4.3          3.0           1.1          0.1     Iris-setosa

[150 rows x 5 columns]

In [ ]:
iris.loc[11:20,["Sepal_Length","Species"]]

    Sepal_Length      Species
11           4.8  Iris-setosa
12           4.8  Iris-setosa
13           4.3  Iris-setosa
14           5.8  Iris-setosa
15           5.7  Iris-setosa
16           5.4  Iris-setosa
17           5.1  Iris-setosa
18           5.7  Iris-setosa
19           5.1  Iris-setosa
20           5.4  Iris-setosa

In [ ]:
 iris.rename(columns={"Species":"Type"} ,inplace=True)
iris

     Sepal_Length  Sepal_Width  Petal_Length  Petal_Width            Type
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

[150 rows x 5 columns]

In [ ]:
iris.index

RangeIndex(start=0, stop=150, step=1)